<div>
    <nav>
        <div class="logo">
            <a href=""><button class="logoButton"><img src="../assets/logo.png" class="logoFig" alt="" ></button></a>
        </div>
        <div class="title_page">
            Acompanhamento do pedido
        </div>
        <div class="MeusPedidos">
            <a href=""><button>MEUS PEDIDOS</button></a>
        </div>
    </nav>
    <div class="body2">
        <div class="aboutproduct">
            <img src="assets/imgacompedidos/drone.jpg" alt="drone" class="productimg">
            <div class="productdescription">
               <h3 style="margin: 0;">Drone xiaomi 5 <br></h3> 
                <h6 style="margin: 0;">
                    <br> Valor: R$ 2499,99.     &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;          Forma de pagamento: Crédito 6xSemJuros <br>
                    Código do Pedido: HEXAEHNOSSO &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Código do Produto:Brazilzilzilzil <br>
                    Pedido feito em: 16/08/2022 &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Data estimada de entrega: 27/08/2022 
                </h6>
            </div>
        </div>
        <div class="acompedido">
            <img src="../assets/imgacompedidos/icon_verde.png" alt="icon_verde" class="iconVerdePreto">
            <div class="textoAcompPedido"><h4>Pedido realizado</h4></div>
            <div class="line"></div>
            <img src="assets/imgacompedidos/icon_verde.png" alt="icon_verde" class="iconVerdePreto" style="left: 481px;">
            <div class="textoAcompPedido" style="left: calc(50% - 271px/2 - 401.5px);">Nota fiscal emitida</div>
            <div class="line" style="left: 631px;"></div>
            <img src="assets/imgacompedidos/icon_verde.png" alt="icon_verde" class="iconVerdePreto" style="left: 881px;">
            <div class="textoAcompPedido" style="left: 842px;">Objeto postado</div>
            <div class="line" style="left: 1031px;"></div>
            <img src="assets/imgacompedidos/icon_verde.png" alt="icon_verde" class="iconVerdePreto" style="left: calc(50% - 150px/2 + 386px);">
            <div class="textoAcompPedido" style="left: 1240px;">Em transporte</div>
            <div class="line" style="left: 1419px;"></div>
            <img src="assets/imgacompedidos/icon_verde.png" alt="icon_verde" class="iconVerdePreto" style="left: 1669px;">
            <div class="textoAcompPedido" style="left: 1616px;">Pedido entregue</div>
            <div class="notafiscal">
                <a href=""><button style="background: #ED9936;"><h3>Visualizar Nota Fiscal</h3></button></a>
            </div>
            <div class="sitetransp">
                <a href="https://www.azulcargoexpress.com.br/Rastreio/Rastreio" target="_blank"><button style="background: #82DAFF;"><h3>Site da Transportadora</h3></button></a>
            </div>
        </div>
    </div>
</div>
