<html>
  <app-header></app-header>
  <body>
      <div class="categories">
        <h1 class="categoryText">CATEGORIAS</h1>
        <h2 class="category">Tablets</h2>
        <h2 class="category">Celulares e <br>Comunicação</h2>
        <h2 class="category">TV, Áudio e <br> Cinema em Casa</h2>
        <h2 class="category">Acessórios <br> Eletrônicos</h2>

      </div>

      <div class="socialMedia">
        <h1 class="socialMediaText">Redes Sociais</h1>
        <img src="../../assets/instagram.png" class="instaIcon" alt="">
        <img src="../../assets/facebook.png" class="faceIcon" alt="">
        <img src="../../assets/twitter.png" class="twitterIcon" alt="">
      </div>

      <div class="productList">

      </div>
  </body>
</html>
