html {
  background-color: rgba(224, 255, 255, 1);
  font-family: sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(224, 255, 255, 1);
}

.container {
  display: block;
  margin: 20px auto;
  width: 90%;

  background-color: white;
}

.itensHeader {
  margin: 0;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.itensHeader h2 {
  font-family: sans-serif;
  font-weight: normal;

}

.lineDivider {
  width: 98%;
  height: 1px;
  background-color: rgb(54, 54, 54);
  margin-top: -15px;
}

.itensList {
  width: 100%;
}

.itemCard {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
}

.itemCard .itemPrice{
  font-size: x-large;
}
.containerCard{
  display: flex;
}
.itemInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.itemCard .itemImg {
  width: 100px;
  height: 100px;
  background-color: gray;
}

.itemInfo .itemName{
  margin: 0;
  padding: 0;
}

.itemInfo .itemStatus{
  display: block;
  font-size: small;
  padding-top: 5px;
}

.itemInfo .itemQtd{
  display: block;
  font-weight: bold;
  padding-top: 5px;
}

.itemInfo .removeItemButton{
  display: block;
  font-size: small;
  padding-top: 5px;
  color: red;
}

.subtotal {
  display: block;
  text-align: right;
  padding: 20px;
  font-size: x-large;
}

.cartCheckout {
  display: block;
  margin: 0 auto;
}

/*
.cart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background: none;
    height: 665px;
    width: 100vw;
    margin-top: 100px;
}

.cartTable{
    position: absolute;
    border-style: groove;
    border: 1;
    border-color: black;
    background: none;
    top: 100px;
}

.imageColumn{
    width: 150px;
    background: none;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.productImage{
    width: 100px;
    height: 90px;
}

.productColumn{
    width: 300px;
    background: none;
    font-size: 20px;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.prizeColumn{
    width: 130px;
    background: none;
    font-size: 20px;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.quantityColumn{
    width: 50px;
    background: none;
    font-size: 20px;
    text-align: center;
    border-style: groove;
    border: 1;
    border-color: black;
}

.labelColumn{

    height: 20px;
    font-size: 20px;
    border-style: groove;
    border: 1;
    border-color: black;
}

.valueColumn{
    border-style: groove;
    border: 1;
    border-color: black;
}

.labelLine{
    height: 40px;
}

.productLine{
    height: 90px;
}

.buyButton{
    position: absolute;
    bottom: 50px;
    border-radius: 40px;
    height: 50px;
    width: 250px;

    font-size: 20px;

    background: none;
    cursor: pointer;
}

.buyButton:hover{
    position: absolute;
    bottom: 50px;
    border-radius: 40px;
    height: 50px;
    width: 250px;

    font-size: 20px;

    border: 3px groove rgba(224, 255, 255, 1);
    background-color: rgba(140, 251, 251, 1);
    cursor: pointer;
}

.emptyCart{
    position: absolute;
    border: 1px solid black;
    width: 300px;
    height: 250px;
    text-align: center;
    top: 200px;
    left: 600px;
    background-color: rgba(11, 223, 227, 1);
}

.emoji{
    font-size: 100px;
} */
