<html>
<app-header></app-header>
<body>
<div *ngIf="!cart.empty" class="cart">
    <table class="cartTable">
        <tr class="labelLine">
            <th class="imageColumn"></th>
            <th class="productColumn">Produto</th>
            <th class="prizeColumn">Preço</th>
            <th class="quantityColumn">QTD</th>
        </tr>

        <tr class="productLine" *ngFor="let product of cart.products">
            <td class="imageColumn"><img class="productImage" src="../assets/{{product[0].pictureName}}" alt=""></td>
            <td class="productColumn" >{{product[0].name}}</td>
            <td class="prizeColumn" >{{product[0].priceString}}</td>
            <td class="quantityColumn" >{{product[1]}}</td>
        </tr>
        <tr class="shippingLine">
            <td class="labelColumn" colspan="2">Frete</td>
            <td class="valueColumn" colspan="2">{{cart.stringShipping}}</td>
        </tr>
        <tr class="totalLine">
            <td class="labelColumn" colspan="2">Total</td>
            <td class="valueColumn" colspan="2">{{cart.stringValue}}</td>
        </tr>
    </table>
   
    <button class="buyButton" routerLink="/cart/confirm">Finalizar Compra</button>
    <router-outlet></router-outlet>
</div>
<div *ngIf="cart.empty" class="emptyCart">
    <h1>O Seu Carrinho esta vazio!</h1>
    <div class="emoji">😟</div>
</div>
</body>
</html>