<html>
    <header>
        <nav class="navBar">
            <button class="logoButton" (click)="goHome()" >
            <img src="../../../assets/logo.png" class="logoFig" alt="">
          </button>
          <div class="searchBox">
            <input type="text" class="searchInput" placeholder="Encontre um Produto">
            <button class="searchButton">
              <img class="magGlass" src="../../../assets/lupa.png" alt="">
            </button>
          </div>
          <button class="cartButton" (click)="goCart()" >
            <img class="cartFig" src="../../../assets/cart.png" alt="">
          </button>
          <button class="myOrderButton" (click)="goHistorico()">Meus Pedidos</button>
        </nav>
      </header>
</html>